<div class="page-container">
  <h1 class="text-center text-cursive">Editing Item</h1>

  <div class="form-container">
    <%= render 'form', item: @item %>
  </div>

  <%= link_to 'Back', items_path %>

</div>
