// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  font-size: 110%;
}

.item-row:hover {
  cursor: pointer;
}
.item-row {
  display: inline-flex;
  width: 100%;
  margin: 10px 0 10px 0;
}
.item-row div {
  flex-grow: 1;
  flex-basis: 0;
}

.action-row {
  display: none;
  width: 100%;
  margin: 10px 0 30px 0;
}
div.action-row div {
  min-width: 33%;
  flex-grow: 1;
  text-align: center;
}

.items-header > * {
  display: inline-block;
}

.items-header button {
  float: right;
}

.btn-new-container {
  text-align: center;
  margin-top: 20px;
}
