<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">My Kitchen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if current_page?(items_path) %>" href="/items">Items</a>
      </li>
      <li class="nav-item <%= 'active' if current_page?(item_types_path) %>">
        <a class="nav-link" href="/item_types">Item Types</a>
      </li>
      <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link text-danger') %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
